<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="jsFiles/resource/bootstrap-5.3.1-dist/css/bootstrap.min.css" />
    <script src="jsFiles/resource/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="jsFiles/resource/fontawesome-free-6.4.2-web/css/all.css" />
    <script src="jsFiles/resource/fontawesome-free-6.4.2-web/js/all.min.js"></script>
    <script src="jsFiles/resource/js/jquery-3.7.1.js"></script>
    <script src="jsFiles/resource/js/toastr.js"></script>
    <script src="jsFiles/resource/js/agecalculate.js"></script>
    <script src="jsFiles/resource/js/notification.js"></script>
    <script src="jsFiles/resource/js/serviceRequest.js"></script>
    <link href="jsFiles/resource/js/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="jsFiles/resource/js/DataTables/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>-->
    <link rel="stylesheet" href="cssFile/animated/animate.css" />

    <link rel="stylesheet" href="cssFile/employee.css" />
    <link rel="stylesheet" href="cssFile/toastr.css" />


    <style>
        canvas {
            width: 100% ;
            height: auto ;
        }
        /* WebKit-based browsers (Chrome, Safari, Edge) */
        .float-start::-webkit-scrollbar {
            width: 12px;
            height: 12px; /* For horizontal scrollbar */
        }

        .float-start::-webkit-scrollbar-thumb {
            background-color: #b6b6b6;
            border-radius: 10px;
        }

        /* For Firefox */
        .float-start {
            scrollbar-color: #b6b6b6 transparent; /* Thumb color | Track color */
        }
    </style>
    <title>Report | Customer</title>
</head>

<body style="overflow: scroll">
<div class="d-flex justify-content-around bg-black">
    <h1 class="text-center p-4 bg-black text-light fs-1">Customer Reports</h1>
</div>

<!--     form modal-->
<!--     employee table-->
<div class="container-fluid d-flex justify-content-end">
    <button  type="button" class="btn btn-primary btn-lg mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-user-plus" style="color: #ffffff"></i>
        Analytical chart
    </button>
</div>
<div class="row m-2">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class=""></span>
            <div class="form-floating">
                <select class="form-select" name="citizenship" id="citizenshipFormSelect">
                    <option selected value="" disabled>Open this select Designation</option>
                    <option  value="true" >Resident</option>
                    <option  value="false" >Non-Resident</option>
                </select>
                <label for="citizenshipFormSelect">Citizenship</label>
            </div>
            <button
                    disabled
                    class="input-group-text"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please select your Designation."
            >
                <i class="fas fa-info-circle"></i>
            </button>
            <div class="text-danger input-group fst-italic hide" id="citizenshipTxtError" style="font-size: 12px">
                please select your designation!
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class=""></span>
            <div class="form-floating">
                <select class="form-select" name="customerstatus_id" id="customerstatusFormSelect">
                    <option selected value="" disabled>Open this select Designation</option>
                </select>
                <label for="customerstatusFormSelect">Customer Status</label>
            </div>
            <button
                    disabled
                    class="input-group-text"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please select your Designation."
            >
                <i class="fas fa-info-circle"></i>
            </button>
            <div class="text-danger input-group fst-italic hide" id="customerstatusTxtError" style="font-size: 12px">
                please select your designation!
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class=""></span>
            <div class="form-floating">
                <select class="form-select" name="country_id" id="countryFormSelect">
                    <option selected value="" disabled>Open this select Designation</option>
                </select>
                <label for="countryFormSelect">Country</label>
            </div>
            <button
                    disabled
                    class="input-group-text"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please select your Designation."
            >
                <i class="fas fa-info-circle"></i>
            </button>
            <div class="text-danger input-group fst-italic hide" id="countryFormSelectTxtError" style="font-size: 12px">
                please select your designation!
            </div>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class=""></span>
            <div class="form-floating">
                <select class="form-select" name="age" id="ageFormSelect">
                    <option selected value="" disabled>Open this select Designation</option>
                    <option value='{"min_age":18,"max_age":23}'>18 - 23</option>
                    <option value='{"min_age":23,"max_age":28}'>23 - 28</option>
                    <option value='{"min_age":28,"max_age":33}'>28 - 33</option>
                    <option value='{"min_age":33,"max_age":38}'>33 - 38</option>
                    <option value='{"min_age":38,"max_age":43}'>38 - 43</option>
                    <option value='{"min_age":43,"max_age":48}'>43 - 48</option>
                    <option value='{"min_age":48,"max_age":53}'>48 - 53</option>
                </select>
                <label for="ageFormSelect">Age Select</label>
            </div>
            <button
                    disabled
                    class="input-group-text"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please select your Designation."
            >
                <i class="fas fa-info-circle"></i>
            </button>
            <div class="text-danger input-group fst-italic hide" id="ageTxtError" style="font-size: 12px">
                please select your designation!
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class=""></span>
            <div class="form-floating">
                <select class="form-select" name="civil_status" id="civilStatusFormSelect">
                    <option value="" disabled selected>Open this select civil Status</option>
                    <option value="Marid">Marid</option>
                    <option value="unmaried">unmaried</option>
                    <option value="single">single</option>
                </select>
                <label for="civilStatusFormSelect">Civil Status</label>
            </div>
            <button
                    disabled
                    class="input-group-text"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please select your Designation."
            >
                <i class="fas fa-info-circle"></i>
            </button>
            <div class="text-danger input-group fst-italic hide" id="civilStatusTxtError" style="font-size: 12px">
                please select your designation!
            </div>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="col-md-4">
        <button class="btn btn-primary mx-3" >Reset Filter</button>
    </div>
</div>
<div class="container-fluid mt-4 table-responsive px-lg-5 animate__animated animate__fadeInDown">
    <table class="table table-dark table-striped my-4 mt-lg-5" id="CustomerView">
        <thead class="mt-3">
        <tr>
            <th>#</th>
            <th>customer id</th>
            <th>Full Name</th>
            <th>Recident</th>
            <th>Age</th>
            <th>Status</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen"> <!-- Fullscreen modal on small screens and down -->
        <div class="modal-content text-bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Customer Analytical charts</h1>
                <button type="button" class="btn-close text-white bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row m-3">
                    <!-- Table on the left side -->
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <table class="table table-dark table-striped my-4 mt-lg-5" id="customerCountryReportView">
                            <thead class="mt-3">
                            <tr>
                                <th>#</th>
                                <th>Customer ID</th>
                                <th>Full Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <!-- Charts on the right side -->
                    <div class="col-lg-9 col-md-12 col-sm-12" >
                        <div class="row" >
                            <!-- First chart -->
                            <div class="float-start col-lg-12 col-md-12 col-sm-12  overflow-x-scroll mb-3" style="border: 1px solid white;">
                                <canvas id="customerAgeChart"></canvas>
                            </div>
                            <!-- Second chart with text -->
                            <div class="float-start col-lg-12 col-md-12 col-sm-12  mb-3 d-flex" style="height:500px;">
                                <iframe src="http://localhost:8080/customerreportviewheatmap" frameborder="0" style="width: 100%; height: 100%;"></iframe>
                            </div>
                            <button onclick="window.open('http://localhost:8080/customerreportviewheatmap', '_blank');" class="btn btn-primary mb-3">Open heat map of the count</button>
                            <div class="float-start col-lg-12 col-md-12 col-sm-12  mb-3 d-flex" style="height:500px;">
                                <iframe src="http://localhost:8080/customerreportviewcountmap" frameborder="0" style="width: 100%; height: 100%;"></iframe>
                            </div>
                            <button onclick="window.open('http://localhost:8080/customerreportviewcountmap', '_blank');" class="btn btn-primary mb-3">Open Count map of the count</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="jsFiles/resource/js/employeeCommonfunction.js"></script>
<script src="jsFiles/resource/js/customerreport.js"></script>
<script src="jsFiles/resource/js/dropDuwnCreateCommonFunction.js"></script>
<script src="jsFiles/resource/js/chartgeneration.js"></script>
</body>
</html>
