<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="jsFiles/resource/bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <script src="jsFiles/resource/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="jsFiles/resource/fontawesome-free-6.4.2-web/css/all.css">
    <script src="jsFiles/resource/fontawesome-free-6.4.2-web/js/all.min.js"></script>
    <script src="jsFiles/resource/js/jquery-3.7.1.js"></script>
    <script src="jsFiles/resource/js/toastr.js"></script>
    <script src="jsFiles/resource/js/objectCompair.js"></script>
    <script src="jsFiles/resource/js/notification.js"></script>
    <script src="jsFiles/resource/js/serviceRequest.js"></script>
    <link href="jsFiles/resource/js/DataTables/datatables.min.css" rel="stylesheet">
    <script src="jsFiles/resource/js/DataTables/datatables.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->
    <link rel="stylesheet" href="cssFile/animated/animate.css" />
    <link rel="stylesheet" href="cssFile/employee.css">
    <link rel="stylesheet" href="cssFile/user.css">
    <link rel="stylesheet" href="cssFile/toastr.css">
    <title>User</title>
</head>

<body>

<div class="d-flex justify-content-around bg-black">
    <h1 class="text-center p-4 bg-black text-light fs-1">User Table</h1>
</div>

<!--     form modal-->
<div class="modal modal-xl " id="userForm" aria-labelledby="userForm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>User <i class="fa-solid fa-user-plus"></i></h1>
                <button type="button" class="btn-close" id="userFormClose"></button>
            </div>
            <div class="modal-body">
                <form action="" class="form-control" id="inputForm">
                    <div class="row m-2 pb-4">
                        <div class="col-lg-6 col-md-3">
                            <div class="input-group mb-3">
                                <span class=""></span>
                                <div class="form-floating">
                                    <input list="userDatalistOptions" class="form-control" id="userDtlTxt" placeholder="Employee" name="employee_id"/>
                                    <datalist id="userDatalistOptions">
                                    </datalist>

                                    <label for="userDtlTxt">Employee</label>
                                </div>
                                <button
                                        disabled
                                        class="input-group-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Please select your Country."
                                >
                                    <i class="fas fa-info-circle"></i>
                                    <span class="btn btn-primary disabled" id="addNewEmployee">
                                           <i class="fa-solid fa-plus"></i>
                                      </span>
                                </button>
                                <div class="text-danger input-group fst-italic hide" id="userDtlTxtError" style="font-size: 12px">
                                    Please Select User Name
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text"></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="usernameTxt"
                                           placeholder="User Name" name="username">
                                    <label for="usernameTxt">User Name</label>
                                </div>
                                <button class="input-group-text" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Enter your full name and give as that include as NIC">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                                <div class="text-danger input-group fst-italic hide" id="usernameTxtError"
                                     style="font-size: 12px;">
                                    Please Enter valid user name
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-2 pb-4">
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <p style="font-weight: bold; font-size: larger;display: none;" id="nameParaTxt">Akila Weerasinghe</p>
                            </div>
                        </div>
                    </div>
                    <div class="row m-2 pb-4">
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text"></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="PasswordPwd"
                                           placeholder="Full Name" name="password">
                                    <label for="PasswordPwd">Password</label>
                                </div>
                                <button class="input-group-text" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Enter your full name and give as that include as NIC">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                                <div class="text-danger input-group fst-italic hide" id="PasswordPwdTxtError"
                                     style="font-size: 12px;">
                                    Password Does not Match
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text"></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="RePasswordPwd"
                                           placeholder="Full Name" name="re_password">
                                    <label for="RePasswordPwd">Password conform</label>
                                </div>
                                <button class="input-group-text" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Enter your full name and give as that include as NIC">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                                <div class="text-danger input-group fst-italic hide" id="RePasswordPwdTxtError"
                                     style="font-size: 12px;">
                                    Password Does not Match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="row m-2 pb-4">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <span class=""></span>
                                <div class="form-floating">
                                    <select class="form-select" name="status" id="employeeStatusSelect">
                                        <option selected value="" disabled>Open this select Designation</option>
                                        <option value="true">Active</option>
                                        <option value="false">Not Active</option>
                                    </select>
                                    <label for="employeeStatusSelect">Status</label>
                                </div>
                                <button
                                        disabled
                                        class="input-group-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Please select your Designation."
                                >
                                    <i class="fas fa-info-circle"></i>
                                </button>
                                <div class="text-danger input-group fst-italic hide" id="employeeStatusSelectTxtError" style="font-size: 12px">
                                    please select your designation!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="row m-2 pb-4">
                        <div class="col-sm-3 mt-md-3">
                            <div class="input-group mb-3">
                                <span></span>
                                <div class="form-check">
                                    <label class="form-check-label"> Role </label>
                                </div>
                                <button
                                        disabled
                                        style="display: none"
                                        class="input-group-text"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Enter your full name as first."
                                >
                                    <i class="fas fa-info-circle"></i>
                                </button>
                                <div class="text-danger input-group fst-italic hide" id="residentCheckTxtError" style="font-size: 12px">
                                    please enter resident!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 row">
                            <div class="main">
                                <div class="container">
                                    <h1>Role</h1>
                                    <div class="list-1">
                                        <ul class="list1" id="roleUncheckedList">
                                        </ul>
                                    </div>
                                </div>
                                <div class="container-2" style="margin-right: 10%;">
                                    <div style="padding-top: 100%;;">
                                        <span id="move_right" class="btn btn-primary" style="margin: 0 auto;display: block;">>></span>
                                        <span id="move_left" class="btn btn-primary mt-1" style="margin: 0 auto;display: block;"><<</button>
                                    </div>
                                </div>
                                <div class="container-3">
                                    <div class="list-2" style="padding-left: 1%;">
                                        <h1>Assign</h1>
                                        <ul class="list2" id="rolecheckedList">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-2 pb-4">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class=""></span>
                                    <div class="form-floating">
                                      <textarea
                                              class="form-control"
                                              placeholder="Note"
                                              id="noteTxt"
                                              style="height: 100px"
                                              name="address"
                                      ></textarea>
                                        <label for="noteTxt">Note</label>
                                    </div>
                                    <button
                                            disabled
                                            class="input-group-text"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Please select your working staus."
                                    >
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                    <div class="text-danger input-group fst-italic hide" id="noteTxtError" style="font-size: 12px">
                                        please Enter your Note!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br><br>
                <button class="btn btn-primary mx-3" id="ValidationButton">Validation button</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-end">
    <button class="btn btn-primary mx-5 mt-3 px-4" data-bs-target="#userForm" data-bs-toggle="modal" id="formOpenButton">
        <i class="fa-solid fa-user-plus" style="color: #ffffff"></i>
    </button>
</div>
<!--     user table-->
<div class="container-fluid mt-4 table-responsive px-lg-5">
    <table class="table table-dark table-striped  my-4 mt-lg-5" id="UserView">
        <thead class="mt-3">
        <tr>
            <th>#</th>
            <th>Emp No</th>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Status</th>
            <th>Roles</th>
            <th>Added date time</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!--     user Details modle-->
<div class="modal modal-xl fade" id="userDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1><i class="fa-solid fa-user"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        id="userDetailsClose"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div id="userDetailsList">
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <h5>Title</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <h5>First name</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <h5>Last Name</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <h5>Full Name</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <h5>Last Name</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <h5>State</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div>
                        <div class="row">
                            <div class="col-lg-3 mx-4">
                                <button class="btn btn-primary px-5"><i
                                        class="fa-solid fa-print"></i>Print</button>
                            </div>
                            <div class="col-lg-2 mx-3">
                                <button class="btn btn-primary px-5"><i
                                        class="fa-solid fa-pen"></i>Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jsFiles/resource/js/employeeCommonfunction.js"></script>
<script src="jsFiles/resource/js/user.js"></script>
<script src="jsFiles/resource/js/validationCommonfunction.js"></script>
<script src="jsFiles/resource/js/formObjectCreateCommonFunction.js"></script>
<script src="jsFiles/resource/js/dropDuwnCreateCommonFunction.js"></script>
<script src="jsFiles/resource/js/dataListCreateFunction.js"></script>
<script src="jsFiles/resource/js/roleTranferFunction.js"></script>
<script src="jsFiles/resource/js/formClear.js"></script>
<script src="jsFiles/resource/js/formFill.js"></script>
</body>

</html>
